body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

p {
  font-size: 1.2em;
}

li {
  font-size: 1.2em;
  padding: .4em .1em;
}

.nav-spacer,.card-spacer{
  height: 2em;
}

.banner {
  width: 100%;
  padding-top: 10em;
  padding-bottom: 2em;
}

.organizer {
  float: left;
  height: 150px;
  width: 150px;
}

.name {
  text-align: center;
  font-size: 1em;
  padding: .25em 0;
  font-weight: 600;
}

.association {
  text-align: center;
  font-style: italic;
  font-size: 0.95em;
}

.clear-both {
  clear: both;
}

.photo {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin-left: 25px;
}

img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

table.program {
  width: 100%;
  border-collapse:separate; 
  border-spacing: 0 0.1em;
}

tr.session-header {
  background-color: #9999A9;
  /* border-bottom: 1px solid #555;
  border-top: 1px solid #555; */
}

td.session-time {
  width: 4em;
  font-size: 1.2em;
  text-align: center;
}

td.session-name {
  text-align: right;
  padding-right: 1em;
  font-size: 1.4em;
}

td.sessionInfo {
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
  padding: 1em;
}

p.submission-number {
  font-size: 1em;
  color: #AAC;
  text-align: right;
}

p.title {
  font-size: 1.3em;
  font-style: italic;
}

p.abstract {
  padding-left: 2em;
  padding-right: 2em;
  font-size: 1.1em;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}